{
    "OPENROUTER_API_KEY": "ISI_KEY_DISINI",
    "GEMINI_API_KEY": "ISI_KEY_DISINI",
    "CLAUDE_API_KEY": "ISI_KEY_DISINI",
    "DEEPSEEK_FREE_TOKEN": "ISI_KEY_DISINI",
    "DEEPSEEK_FREE_URL": "http://127.0.0.1:8000/v1",
    "DEFAULT_MODEL": "qwen/qwen3.6-plus:free"
}
